<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041EE7ED1C228AA600E4D41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041EE8061C228AA600E4D41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041EE8111C228AA600E4D41C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
